.profile-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-info-container {
  display: flex;
  gap: 1rem;
}

.profile-item ul {
  color: #40a9ff;
  font-size: 1.5rem;
  padding: 1rem;
  list-style: none;
}
