.profile-github {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.github-repos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repo-info ul {
  list-style: none;
}

.card-width {
  width: 90% !important;
}
