.single-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  margin-top: 1rem;
  margin-bottom: 20rem;
}

.single-profile .ant-card {
  width: 60%;
}

.profile-button-wrapper {
  display: flex;
  gap: 0.5rem;
}

.profile-experience {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.profile-education {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
